{% extends 'base/base.html' %}
{% load static %}

{% block content %}
    <h1>{{profile_user.username}}</h1>
    {% if user.is_authenticated %}
        {% if profile_user.profile in user.profile.following.all %}
            You follow {{profile_user.username}}. 
            (<a href="{% url 'unfollow_user' profile_user %}">Stop following</a>)
        {% else %}
            <a href="{% url 'follow_user' profile_user %}">
                Follow {{profile_user.username}}
            </a>
        {% endif %}
    {% endif %}
    <div>
        <h2>Stories</h2>
        <ul>
        {% for story in stories %}
            <li>
                {% if user.profile in story.loves.all %}
                    <span class="love">&lt;3</span>
                {% endif %}
                <a href="{% url 'show_story' story.id %}">{{story.title}}</a> 
            </li>
        {% endfor %} 
        </ul>
    </div>
    <div>
        <h2>Books</h2>
        <ul>
        {% for book in books %}
            <li>
                <a href="{% url 'show_book' book.id %}">{{book.title}}</a>
            </li>
        {% endfor %} 
        </ul>
    </div>
{% endblock %}

