{% extends 'base/base.html' %}
{% load static %}

{% block content %}
    <h1>{{user}} [<a href="{% url 'edit_profile' %}">Edit profile</a>]</h1>
    {% if user.profile.profile_story %}
    <div class="profile-story">
        <h2>{{ user.profile.profile_story.title }}</h2>
        <p><em>{{ user.profile.profile_story.description }}</em></p>
        <p><a href="{% url 'show_story' user.profile.profile_story.id %}">Read this story &rarr;</a></p>
    </div>
    {% endif %}
    {% if unsubmitted_prompts > 0 %}
        <h2>To Do</h2>
        <ul>
        {% for prompt in prompts_to_submit %}
            <li>Submit a story to <a href="{% url 'show_prompt' prompt.literacy_group.id prompt.id %}">{{prompt.name}}</a></li>
        {% endfor %}
        </ul>
    {% endif %}
    <div class="feed">
        <h2>Feed</h2>
        <ul>
        {% for notification in feed %}
            {% include 'literacy_events/notification.html' %}
        {% endfor %}
        </ul>
        {% if feed_continues %}
            <p><a href="{% url 'show_feed' user.username %}">More...</a></p>
        {% endif %}
    </div>
    {% if user.profile.following.exists %}
      <div>
      <h2>Users you follow</h2>
      <ul>
        {% for p in user.profile.following.all %}
        <li>
            <a href="{% url 'show_user' p.user.username %}">{{p.user.username}}</a>
            [<a href="{% url 'unfollow_user' p.user.username %}">Unfollow</a>]
        </li>
        {% endfor %}
      </ul> 
      </div>
    {% endif %}
    <div>
        <h2>Stories</h2>
        <ul>
        {% for story in stories %}
            <li>
                <a href="{% url 'show_story' story.id %}">{{story.title}}</a> 
                {% if not story.shared %}
                    [Private]
                {% endif %}
                [<form action="{% url 'delete_story' story.id %}" method="post" class="link danger"><input type="submit" value="delete">{% csrf_token %}</form>]
            </li>
        {% endfor %} 
        </ul>
    </div>
    <div>
        <h2>Books</h2>
        <ul>
        {% for book in books %}
            <li>
                <a href="{% url 'show_book' book.id %}">{{book.title}}</a>
            </li>
        {% endfor %} 
            <li>[<a href="{% url 'create_book'%}">Start a new book</a>]</li>
        </ul>
    </div>
{% endblock %}
