{% load static %}

<div id="menu" {% if DEBUG %} class="debug" {% endif %}>
    <div class="menu-item menu-item-logo">
        <a href="{% url 'home' %}"><img class="logo" src="{% static 'favicon.png' %}" /></a>
    </div>
    <div class="menu-item menu-item-title">
        <a href="{% url 'home' %}">{{SITE.name}}</a>
    </div>
    <div class="menu-item">
        <a href="{% url 'list_stories' %}">Browse stories</a>
    </div>
    <div class="menu-item">
        <a href="{% url 'list_books' %}">Books</a>
    </div>
    <div class="menu-item">
        <a href="{% url 'new_story' %}">New Story</a>
    </div>
    {% if user.is_authenticated and user.literacy_groups.count or user.profile.is_teacher %}
    <div class="menu-item">
        <a href="{% url 'list_groups' %}">Groups</a>
    </div>
    {% endif %}
    <div class="menu-item menu-fill"></div>
    {% if user.is_authenticated %}
        <div class="menu-item">
            <a href="{% url 'show_user' user %}">
                {% if notifications > 0 %}<span class="badge">{{notifications}}</span>{% endif %}
                {{user}}
            </a>
        </div>
        <div class="menu-item">
            <form method="post" action="{% url 'logout' %}">
                {% csrf_token %}
                <button type="submit" class="logout-button">
                    [Log out]
                </button>
            </form>
        </div>
    {% else %}
        <div class="menu-item menu-item-right">
            <a href="{% url 'login' %}">Log in</a>
        </div>
        <div class="menu-item menu-item-right">
            <a href="{% url 'signup' %}">Sign up</a>
        </div>
    {% endif %}
</div>

