/* base_style.css */

body, pre, textarea, input {
    font-family: Courier, monospace;
    font-size: 1em;
}

#menu {
    background-color: #444;
    list-style: none;
    width: 110%;
    float:left;
    padding: 0;
    position: relative;
    left: -5%;
}

#menu a {
    color: white !important;
    text-decoration: none;
}

.clear {
    
}

#menu li {
    float: left;
    float:left;
    padding: 10px 30px;
    text-align: center;
    list-style-type: none;
}

table, textarea, input {
    width: 100%;
}

textarea {
    height: 600px;
}

#container {
    width: 800px;
    margin: 0 auto;
}
 h1 {
    text-align: left;
    font-weight: 700;
}

pre {
    padding: 3px;
    font-size: 1em;
    background-color: #ddd;
    border: 1px solid #444;
}

p.description {
    color: black;
    opacity: 1;
}
