/* base_style.css */

body, pre, textarea, input {
    font-family: Courier, monospace;
    font-size: 1em;
}

body {
    margin: 0;
}

.logo {
    height: 30px;
}

#menu {
    background-color: #444;
    display: flex;
}

#footer {
    position: absolute;
    bottom: 0;
    background-color: #444;
    display: flex;
    width: 100%;
}

.menu-item {
    align-self: center;
    flex-basis: auto;
    padding: 10px 30px;
}

.menu-item-logo {
    padding: 10px;
}

.menu-item-title {
    padding-left: 0px;   
}

.menu-item a {
    color: white !important;
    text-decoration: none;
}

.menu-fill {
    flex-grow: 4;
}
    
textarea {
    height: 600px;
}

#container {
    width: 800px;
    margin: 0 auto;
    padding: 10px;
}
 h1 {
    text-align: left;
    font-weight: 700;
}

pre {
    padding: 3px;
    font-size: 1em;
    background-color: #ddd;
    border: 1px solid #444;
}

p.description {
    color: black;
    opacity: 1;
}

.love {
    color: #c0392b;
}

.love:hover {
    color: #e74c3c;
}

a {
    color: #3498db;
    text-decoration: none;
}

a:visited {
    color: #2980b9;
}

a:hover {

}

#story {
    height: 600px; 
    overflow: scroll;
}

.messages {
    background-color: #ecf0f1;
    margin: 0;
    padding: 8px 16px 16px 16px;
}

.messages p {
    padding-top: 8px;
    margin: 0;
}

.messages p.success {
    color: #27ae60;
}

.messages p.warning {
    color: #c0392b;
}
.
