{% extends 'base/base.html' %}
{% load staticfiles %}

{% block content %}
<h1>Sign up</h1>
<p>Create an account to create private stories, follow other users, and more. Please don't use your real name. We will keep your email private, and only use it if you need to reset your password or for account-related stuff.</p>

{% if form.errors %}
    {% for field in form %}
        {% for error in field.errors %}
            <div class="alert alert-danger">
                <strong>{{ error|escape }}</strong>
            </div>
        {% endfor %}
    {% endfor %}
    {% for error in form.non_field_errors %}
        <div class="alert alert-danger">
            <strong>{{ error|escape }}</strong>
        </div>
    {% endfor %}
{% endif %}

<form method="post" action="{% url 'signup' %}">
    {% csrf_token %}
    {{form.as_table}}
    <input type="submit" value="login" />
</form>
{% endblock %}
