{% load staticfiles %}

<!DOCTYPE html>
<html>
    <head>
        <script src="{% static 'scripts/lib/jquery.2.1.4.js' %}"></script>
        <link rel="shortcut icon" href="{%  static 'favicon.png' %}">
        {% block head %}
        {% endblock %}
        <link rel="stylesheet" href="{% static 'base/base_style.css' %}">
        {% block style %}
        {% endblock %}
    </head>
    <body>
        {% include 'base/menu.html' %}
        <div id="container">
        {% if messages %}
        <ul class="messages">
            {% for message in messages %}
            <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
            {% endfor %}
        </ul>
        {% endif %}
        {% block content %}
        {% endblock %}
        </div>
        {% include 'base/footer.html' %}
        <script>
            $('#delete_prompt').hide()
            $('#delete_confirm').hide()
            $('#delete').click(function() {
                $('#delete').hide()
                $('#delete_prompt').show()
                $('#delete_confirm').show()
            })
        </script>
    </body>
</html>
