{% load staticfiles %}

<div id="menu" {% if DEBUG %} class="debug" {% endif %}>
    <div class="menu-item menu-item-logo">
        <a href="{% url 'home' %}"><img class="logo" src="{% static 'favicon.png' %}" /></a>
    </div>
    <div class="menu-item menu-item-title">
        <a href="{% url 'home' %}">Unfold Studio</a>
    </div>
    <div class="menu-item">
        <a href="{% url 'list_stories' %}">Browse stories</a>
    </div>
    <div class="menu-item">
        <a href="{% url 'list_books' %}">Books</a>
    </div>
    <div class="menu-item">
        <a href="{% url 'new_story' %}">New Story</a>
    </div>
    {% if prompts_assigned > 0 %}
    <div class="menu-item">
        <a href="{% url 'list_prompts_assigned' %}">
            {% if prompts_unsubmitted > 0 %}
                <span class="badge">{{prompts_unsubmitted}}</span>
            {% endif %}
            Prompts
        </a>
    </div>
    {% endif %}
    {% if prompts_owned > 0 %}
    <div class="menu-item">
        <a href="{% url 'list_prompts_owned' %}">Manage Prompts</a>
    </div>
    {% endif %}
    <div class="menu-item menu-fill"></div>
    {% if user.is_authenticated %}
        <div class="menu-item">
            <a href="{% url 'show_user' user %}">
                {# {% if unseen_events > 0 %} <span class="badge">{{unseen_events}}</span>{% endif %} #}
                {{user}}
            </a>
        </div>
        <div class="menu-item">
            <a href="{% url 'logout' %}">[Log out]</a>
        </div>
    {% else %}
        <div class="menu-item menu-item-right">
            <a href="{% url 'login' %}">Log in</a>
        </div>
        <div class="menu-item menu-item-right">
            <a href="{% url 'signup' %}">Sign up</a>
        </div>
    {% endif %}
</div>

