{% load app_filters %}
<li class="event">
{% with story=event.story book=event.book event_user=event.user %}
    {% if event.event_type == Event.LOVED_STORY %}
        {% with event_user=event.subject %}
            {% include 'profiles/event_user.html' %}
        {% endwith %}
        loved 
        {% include 'profiles/event_story.html' %}
    {% elif event.event_type == Event.COMMENTED_ON_STORY %}
        {% include 'profiles/event_user.html' %}
        commented on 
        {% include 'profiles/event_story.html' %}
    {% elif event.event_type == Event.FORKED_STORY %}
        {% with event_user=event.subject %}
            {% include 'profiles/event_user.html' %}
        {% endwith %}
        forked
        {% with story=event.story %}
            {% include 'profiles/event_story.html' %}
        {% endwith %}
        from 
        {% with story=event.story.parent %}
            {% include 'profiles/event_story.html' %}
        {% endwith %}
    {% elif event.event_type == Event.PUBLISHED_STORY %}
        {% with event_user=event.subject %}
            {% include 'profiles/event_user.html' %}
        {% endwith %}
        published 
        {% include 'profiles/event_story.html' %}
    {% elif event.event_type == Event.PUBLISHED_BOOK %}
        {% with event_user=event.subject %}
            {% include 'profiles/event_user.html' %}
        {% endwith %}
        published
        {% include 'profiles/event_book.html' %}
    {% elif event.event_type == Event.ADDED_STORY_TO_BOOK %}
        {% with event_user=event.subject %}
            {% include 'profiles/event_user.html' %}
        {% endwith %}
        added
        {% include 'profiles/event_story.html' %}
        to 
        {% include 'profiles/event_book.html' %}
    {% elif event.event_type == Event.FOLLOWED %}
        {% with event_user=event.subject %}
            {% include 'profiles/event_user.html' %}
        {% endwith %}
        started following you
    {% elif event.event_type == Event.YOU_FOLLOWED %}
        You followed 
        {% with event_user=event.subject %}
            {% include 'profiles/event_user.html' %}
        {% endwith %}
    {% elif event.event_type == Event.SIGNED_UP %}
        You joined Unfold Studio
    {% else %}
        {{event}}
    {% endif %}
    {{event.timestamp|humanize}}.
{% endwith %}
</li>
