{% extends 'base/base.html' %}
{% load staticfiles %}

{% block content %}
    <h1>{{user.username}}</h1>
    {% if request.user %}
        {% if user.profile in request.user.profile.following.all %}
            You follow {{user.username}}. (<a href="{% url 'unfollow_user' user %}">Stop following</a>)
        {% else %}
            {% if request.user.is_authenticated %}
                <a href="{% url 'follow_user' user %}">Follow {{user.username}}</a>
            {% endif %}
        {% endif %}
    {% endif %}
    <div>
        <h2>Stories</h2>
        <ul>
        {% for story in stories %}
            <li>
                {% if request.user.profile in story.loves.all %}
                    <span class="love">&lt;3</span>
                {% endif %}
                <a href="{% url 'show_story' story.id %}">{{story.title}}</a> 
            </li>
        {% endfor %} 
        </ul>
    </div>
    <div>
        <h2>Books</h2>
        <ul>
        {% for book in books %}
            <li>
                <a href="{% url 'show_book' book.id %}">{{book.title}}</a>
            </li>
        {% endfor %} 
        </ul>
    </div>
{% endblock %}

