{% extends 'base/base.html' %}
{% load staticfiles %}
{% load linkrefs %}

{% block content %}
<h1>{{prompt.name}}</h1>
<p>{{prompt.description | linkrefs:user}}</p>
{% if prompt.book %}
    [<a href="{% url 'show_book' prompt.book.id %}">Book</a>] 
    [<form action="{% url 'unpublish_prompt' prompt.id %}" method="post" class="link">{% csrf_token %}<input type="submit" value="Unpublish"></form>]
{% else %}
    [<form action="{% url 'publish_prompt' prompt.id %}" method="post" class="link">{% csrf_token %}<input type="submit" value="Publish as book"></form>]
{% endif %}

<table>
    <thead>
        <tr>
            <td>Assignee</td>
            <td>Group</td>
            <td>Submission</td>
            <td>Needs feedback</td>
        </tr>
        {% for user, group, story, hasNewMaterial in submissions %}
        <tr>
            <td><a href="{% url 'show_user' user.username %}">{{user.username}}</a></td>
            <td>{{group}}</td>
            <td>
                {% if story %}
                        <a href="{% url 'show_story' story.id %}">{{story.title}}</a>
                {% else %}
                    .
                {% endif %}
            </td>
            <td>
                {% if hasNewMaterial %}
                    <a href="{% url 'show_story_versions' story.id %}">-></a>
                {% endif %}
            </td>
        </tr>
        {% endfor %}
        </tr>
    </thead>
</table>

{% endblock %}


