{% extends 'base/base.html' %}
{% load staticfiles %}

{% block content %}
<h1>{{prompt.name}}</h1>
<p>{{prompt.description}}</p>
<table>
    <thead>
        <tr>
            <td>Assignee</td>
            <td>Group</td>
            <td>Submission</td>
        </tr>
        {% for user, group, story in submissions %}
        <tr>
            <td><a href="{% url 'show_user' user.username %}">{{user.username}}</a></td>
            <td>{{group}}</td>
            <td>
                {% if story %}
                        <a href="{% url 'show_story' story.id %}">{{story.title}}</a>
                {% else %}
                    .
                {% endif %}
            </td>
        </tr>
        {% endfor %}
        </tr>
    </thead>
</table>

{% endblock %}


