{% extends 'base/base.html' %}
{% load staticfiles %}
{% load linkrefs %} 

{% block content %}
<h1>{{book.title}}</h1>
{% if book.description %} <p>{{book.description | linkrefs:user}}</p>{% endif %}
{% if book.owner == request.user %} 
    <p>[<a href="{% url 'edit_book' book.id %}">Edit</a>]</p>
{% endif %}
{% if stories %}
<ul>
    {% for story in stories %}
        <li>
            {% include 'unfold_studio/story.html'%}
            {% if book.owner == request.user %}
                [<form action="{% url 'remove_story_from_book' book.id story.id %}" method="post" class="link">
                    {% csrf_token %}
                    <input type="submit" class="danger" value="remove">
                </form>]
            {% endif %}
        </li>
    {% endfor %}
</ul>
{% else %}
    <p>This book has no stories (or they are not shared).</p>
{% endif %}
    

{% endblock %}

