{% extends 'base/base.html' %}
{% load static %}

{% block head %}
    <script src="{% static 'scripts/lib/jquery-linedtextarea/jquery-linedtextarea.js' %}"></script>

    <link rel="stylesheet" href="{% static 'scripts/lib/jquery-linedtextarea/jquery-linedtextarea.css' %}">
{% endblock %}

{% block content %}
    <h1>Name your story</h1>
    <form action="{% url 'new_story' %}" method="POST" class="search-form">
        {% csrf_token %}
        {{form}}
        <input type="submit" value="Submit">
    </form>
{% endblock %}
