{% extends 'base/base.html' %}
{% load static %}

{% block head %}
    <script src="{% static 'scripts/lib/jquery-linedtextarea/jquery-linedtextarea.js' %}"></script>

    <link rel="stylesheet" href="{% static 'scripts/lib/jquery-linedtextarea/jquery-linedtextarea.css' %}">
{% endblock %}

{% block content %}
    <h1>Create New Story</h1>
    <form action="{% url 'new_story' %}" method="POST" class="new_story_form">
        {% csrf_token %}

        <div>
            <label for="{{ form.title.id_for_label }}">Title:</label>
            <input type="text" name="title" id="{{ form.title.id_for_label }}" value="{{ form.title.value|default_if_none:'' }}">
        </div>

        <div>
            <label for="{{ form.description.id_for_label }}">Description:</label>
            <textarea name="description" id="{{ form.description.id_for_label }}" rows="4" cols="40" style="resize: vertical;">{{ form.description.value|default_if_none:'' }}</textarea>
        </div>

        <!-- <button type="submit">Submit</button> -->
        <input type="submit" value="Create Story" />
    </form>
{% endblock %}
