{% extends 'base/base.html' %}
{% load static %}
{% load linkrefs %}

{% block head %}

    <meta charset="utf-8">
    <title>{{story.title}} | unfold.studio</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'style/inkystyle.css' %}">
    <link rel="stylesheet" href="{% static 'style/sms.css' %}">
    <link rel="stylesheet" href="{% static 'lib/inky/main.css' %}">
    <link rel="stylesheet" href="{% static 'lib/inky/inkTheme.css' %}">

{% endblock %}

{% block content %}
<h2 class="story-title">{{story.title}}</h2>
<div class="description">
{% if story.public %}
    Public story.
{% else %}
    by <a href="{% url 'show_user' story.author.username %}">{{story.author}}</a>.
{% endif %}
{{comment|linkrefs:user}}
<br/>
[{% if previousVersion is not None %}<a href="{% url 'show_story_version' pk=story.id version=previousVersion %}">&lt;</a>{% endif %}
Version {{version}}
{% if nextVersion is not None %}<a href="{% url 'show_story_version' pk=story.id version=nextVersion %}">&gt;</a>{% endif %}
<a href="{% url 'show_story' story.id %}">&gt;&gt;</a>]
[<a id="replay_story" href="">Replay</a>]
<span id="show_code_opt" style="display: none;">[<a id="show_code" href="#">Show code</a>]</span>
<span id="hide_code_opt">[<a id="hide_code" href="#">Hide code</a>]</span>
[<a href="{% url 'show_story_versions' story.id %}">History</a>]
</div>

{# FROM INKY #}
<div id="main">
  <div class="twopane">
    <div id="editor"></div>
    <div class="split"></div>
    <div id="player">
      <table class="expressionWatch">
        <tbody>
        </tbody>
      </table>
      <div class="scrollContainer">
        <div class="innerText active"></div>
        <div class="hiddenBuffer">
          <div class="innerText"></div>
        </div>
      </div>
    </div>
  </div>
</div>


{# END FROM INKY #}


{# Inky imports Ace as a global, so I will follow #}
<!--<script src="{% static 'lib/ace/ace.js'%}" type="text/javascript" charset="utf-8"></script>
<script src="{% static 'lib/ace/ext-language_tools.js'%}"></script>-->

{# Main JS entry point #}
<script src="{% static 'scripts/ink.js' %}"></script>
<script>
    STORY_ID = {{story.id}};
    CSRF = "{{csrf_token}}";
    EDITABLE = false;
    LOG_READING_URL = "{% url 'log_reading_event' %}";
</script>
<script data-main="{% url 'require_entry_point' %}" src="{% static 'lib/require/require.js' %}"></script>

{% endblock %}
