{% extends 'base/base.html' %}
{% load static %}
{% load linkrefs %}
{% load vite %}

{% block head %}

    <meta charset="utf-8">
    <title>{{story.title}} | unfold.studio</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'style/inkystyle.css' %}">
    <link rel="stylesheet" href="{% static 'style/sms.css' %}">
    <link rel="stylesheet" href="{% static 'lib/inky/main.css' %}">
    <link rel="stylesheet" href="{% static 'lib/inky/inkTheme.css' %}">

{% endblock %}

{% block content %}
<h2 class="story-title">{{story.title}}</h2>
<div class="description">
{% if story.public %}
    Public story.
{% else %}
    by <a href="{% url 'show_user' story.author.username %}">{{story.author}}</a>.
{% endif %}
{{comment|linkrefs:user}}
<br/>
[{% if previousVersion is not None %}<a href="{% url 'show_story_version' pk=story.id version=previousVersion %}">&lt;</a>{% endif %}
Version {{version}}
{% if nextVersion is not None %}<a href="{% url 'show_story_version' pk=story.id version=nextVersion %}">&gt;</a>{% endif %}
<a href="{% url 'show_story' story.id %}">&gt;&gt;</a>]
[<a href="{% url 'show_story_versions' story.id %}">History</a>]
</div>

<div id="main"></div>

<script src="{% static 'scripts/ink.js' %}"></script>
<script>
window.__UNFOLD__ = {
    storyId: {{ story.id }},
    csrfToken: "{{ csrf_token }}",
    editable: false,
    debugMode: {{ request.user.is_staff|lower }},
    storyJson: {{ story.for_json|to_json|safe }},
    urls: {
        json:         "{% url 'show_json' story.id %}",
        playInstance: "{% url 'new_story_play_instance' %}",
        playRecord:   "{% url 'new_story_play_record' %}",
    }
};
</script>
{% vite_asset 'src/main.ts' %}

{% endblock %}
