{% extends 'base/base.html' %}
{% load static %}
{% load linkrefs %}
{% load vite %}

{% block head %}

    <meta charset="utf-8">
    <title>{{story.title}} | unfold.studio</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'style/inkystyle.css' %}">
    <link rel="stylesheet" href="{% static 'style/sms.css' %}">
    <link rel="stylesheet" href="{% static 'lib/inky/main.css' %}">
    <link rel="stylesheet" href="{% static 'lib/inky/inkTheme.css' %}">

{% endblock %}

{% block content %}
<h2 class="story-title">{{story.title}}</h2>
<div class="description">
{% if story.public %}
    Public story
{% else %}
    by {{story.author.username | linkuser:user}}
{% endif %}
{% if story.parent %}
    (Forked from {{story.parent.id | linkstory:user}}{% if story.parent.author %} by {{story.parent.author.username | linkuser:user}}{% endif %})
{% endif %}
{% if request.user.is_authenticated and request.user.profile in story.loves.all %}
    {% if story.loves.count > 1 %}
        <span class="love">&lt;3 {{story.loves.count}}</span>
    {% else %}
        <span class="love">&lt;3</span>
    {% endif %}
{% elif not request.user.is_authenticated and story.loves.count > 0 %}
    <span class="love">&lt;3 {{story.loves.count}}</span>
{% elif request.user == story.author and story.loves.count > 0 %}
    <span class="love">&lt;3 {{story.loves.count}}</span>
{% endif %}
{% if story.author == request.user or story.public %}
    [<a href="{% url 'edit_story' story.id %}">Edit details</a>]
    [<a href="{% url 'new_story_version' story.id %}">Save this version</a>]
{% endif %}
{% if request.user.is_authenticated %}
    {% if story.author != request.user %}
        {% if request.user.profile not in story.loves.all %}
            {% if story.loves.count > 0 %}
                [<form action="{% url 'love_story' story.id %}" method="post" class="link"><input type="submit" value="&lt;3 (loved by {{story.loves.count}})">{% csrf_token %}</form>]
            {% else %}
                [<form action="{% url 'love_story' story.id %}" method="post" class="link"><input type="submit" value="&lt;3">{% csrf_token %}</form>]
            {% endif %}
        {% endif %}
    {% endif %}
    {% if addableBooks %}
        [<form action="{% url 'add_story_to_book' addableBooks.0.id story.id %}" id="add-book-form" method="post" class="link">{% csrf_token %}<input type="submit" value="Add to book"></form>
         <select id="select-book" onchange="setBook(this)" autocomplete="off">
            {% for book in addableBooks %}
                <option value={{book.id}} {% if forloop.first %} selected="selected" {% endif %}>{{book.title}}</option>
            {% endfor %}
         </select>]
        <script type="text/javascript">
            function setBook(el) {
                let form = document.getElementById('add-book-form');
                let urlParts = form.action.split('/');
                urlParts[4] = el.value;
                form.action = urlParts.join('/');
            }
        </script>
    {% endif %}
{% endif %}
{% if story.author %}
[<a href="{% url 'show_story_versions' story.id %}">History{% if commentable %}/Comment{% endif %}</a>]
{% endif %}
</div>

<div id="main"></div>

<script src="{% static 'scripts/ink.js' %}"></script>
<script>
window.__UNFOLD__ = {
    storyId: {{ story.id }},
    csrfToken: "{{ csrf_token }}",
    editable: {{ editable|lower }},
    shared: {{ story.shared|lower }},
    debugMode: {{ request.user.is_staff|lower }},
    urls: {
        json:         "{% url 'show_json' story.id %}",
        {% if editable %}
        compile:      "{% url 'compile_story' story.id %}",
        generate:     "{% url 'generate' %}",
        getNextDir:   "{% url 'get_next_direction' %}",
        fork:         "{% url 'fork_story' story.id %}",
        share:        "{% url 'share_story' story.id %}",
        unshare:      "{% url 'unshare_story' story.id %}",
        {% endif %}
        playInstance: "{% url 'new_story_play_instance' %}",
        playRecord:   "{% url 'new_story_play_record' %}",
    }
};
</script>
{% vite_asset 'src/main.ts' %}

{% endblock %}
