{% extends 'base/base.html' %}
{% load static %}
{% load vite %}

{% block head %}

    <meta charset="utf-8">
    <title>{{story.title}} | unfold.studio</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'style/inkystyle.css' %}">
    <link rel="stylesheet" href="{% static 'lib/inky/main.css' %}">
    <link rel="stylesheet" href="{% static 'lib/inky/inkTheme.css' %}">

{% endblock %}

{% block content %}
<h2>{{story.title}}</h2>

<div id="main"></div>

<script src="{% static 'scripts/ink.js' %}"></script>
<script>
window.__UNFOLD__ = {
    storyId: {{ story.id }},
    csrfToken: "{{ csrf_token }}",
    editable: false,
    debugMode: false,
    storyJson: {{ story.for_json|to_json|safe }},
    urls: {
        json:         "{% url 'show_json' story.id %}",
        playInstance: "{% url 'new_story_play_instance' %}",
        playRecord:   "{% url 'new_story_play_record' %}",
    }
};
</script>
{% vite_asset 'src/main.ts' %}

{% endblock %}
