{% extends 'base/base.html' %}
{% load static %}
{% load linkrefs %}

{% block content %}
<h1>{{prompt.name}}</h1>
<p>{{prompt.description | linkrefs:user}}</p>
{% if submission %}
    You submitted <a href="{% url 'show_story' submission.id %}">{{submission.title}}</a>.
    [<form action="{% url 'clear_prompt_submission' group.id prompt.id %}" method="post" class="link">{% csrf_token %}<input type="submit" value="Clear submission"></form>]
{% else %}
    {% if user.stories.exists %}
        [<a href="{% url 'submit_to_prompt' group.id prompt.id %}">Submit a story</a>]
    {% else %}
        <p>You haven't written any stories yet. <a href="{% url 'new_story' %}">Write a story</a> and then come back here to submit it.</p>
    {% endif %}
{% endif %}
{% endblock %}

