/* base_style.css */

html {
    height: 100%;
}

body, pre, textarea, input {
    font-family: Courier, monospace;
    font-size: 1em;
}

body {
    margin: 0;
    display: flex;
    flex-direction: column;
    height: 100%;
}

.logo {
    height: 30px;
}

#menu {
    background-color: #444;
    display: flex;
    flex-shrink: 0;
}

#menu.debug {
    background-color: #8e44ad;
}

#footer {
    background-color: #444;
    display: flex;
    width: 100%;
    flex-shrink: 0;
}

.menu-item {
    align-self: center;
    flex-basis: auto;
    padding: 10px 30px;
}

.menu-item-logo {
    padding: 10px;
}

.menu-item-title {
    padding-left: 0px;   
}

.menu-item a {
    color: white !important;
    text-decoration: none;
}

.menu-fill {
    flex-grow: 4;
}
    
textarea {
}

#container {
    width: 1000px;
    margin: 0 auto;
    padding: 10px;
    flex: 1 0 auto;
}
 h1 {
    text-align: left;
    font-weight: 700;
}

pre {
    padding: 3px;
    font-size: 1em;
    background-color: #ddd;
    border: 1px solid #444;
}

p.description {
    color: black;
    opacity: 1;
}

.love {
    color: #c0392b;
}

.love:hover {
    color: #e74c3c;
}

a {
    color: #3498db;
    text-decoration: none;
}

a:visited {
    color: #2980b9;
}

a:hover {

}

#story {
    height: 600px; 
    overflow: scroll;
}

.messages {
    background-color: #ecf0f1;
    margin: 0;
    padding: 8px 16px 16px 16px;
}

.messages p {
    padding-top: 8px;
    margin: 0;
}

.messages p.success {
    color: #27ae60;
}

.messages p.warning {
    color: #c0392b;
}

.twopane.solo #editor {
    display: none;
}
.twopane.solo .split {
    display: none;
}
.twopane.solo #player {
    position: inherit;
    left: 0;
}
.helptext {
    display: none;
}

.danger{
    color: #c0392b;
}

.badge {
   background-color: #c0392b;
   padding: 4px;
   border-radius: 4px;
}

.badge:hover {
   background-color: #e74c3c;
}

.menu-item a.new-feature {
    color: #f1c40f !important;
}

form.link {
    display: inline; 
    padding: 0;
    margin: 0;
}

form.link input[type=submit] { 
    border: none; 
    background: none; 
    display: inline; 
    color: #3498db;
    cursor: pointer;
    padding: 0;
    margin: 0;
}

h2.story-title {
    margin-bottom: 0;
}

table.story-history td {
    vertical-align: top;
}

table.story-history td:nth-child(1) {
    min-width: 10em;
}
table.story-history th {
    text-align: left;
    vertical-align: top;
}
    

