{% load app_filters %}
<li class="event">
{% with event=notification.event viewer=notification.recipient %}
{% with subjectUser=event.subject story=event.story book=event.book objectUser=event.object_user prompt=event.prompt story_visible=notification.story_visible %}
    {% if event.event_type == LiteracyEvent.LOVED_STORY %}
        {% include 'literacy_events/user.html' with user=subjectUser %} 
        loved 
        {% include 'literacy_events/story.html' %}
    {% elif event.event_type == LiteracyEvent.COMMENTED_ON_STORY %}
        {% include 'literacy_events/user.html' with user=subjectUser %} 
        commented on 
        {% include 'literacy_events/story_versions.html' %}
    {% elif event.event_type == LiteracyEvent.FORKED_STORY %}
        {% include 'literacy_events/user.html' with user=subjectUser %} 
        forked 
        {% include 'literacy_events/story.html' %} 
        from 
        {% include 'literacy_events/story.html' with story=story.parent story_visible=notification.parent_story_visible%} 
    {% elif event.event_type == LiteracyEvent.PUBLISHED_STORY %}
        {% include 'literacy_events/user.html' with user=subjectUser %} 
        published 
        {% include 'literacy_events/story.html' %}
    {% elif event.event_type == LiteracyEvent.UNPUBLISHED_STORY %}
        {% include 'literacy_events/user.html' with user=subjectUser %} 
        stopped sharing 
        {% include 'literacy_events/story.html' %}
    {% elif event.event_type == LiteracyEvent.PUBLISHED_BOOK %}
        {% include 'literacy_events/user.html' with user=subjectUser %} 
        published 
        {% include 'literacy_events/book.html' %}
    {% elif event.event_type == LiteracyEvent.ADDED_STORY_TO_BOOK %}
        {% include 'literacy_events/user.html' with user=subjectUser %} 
        added 
        {% include 'literacy_events/story.html' %} 
        to 
        {% include 'literacy_events/book.html' %}
    {% elif event.event_type == LiteracyEvent.REMOVED_STORY_FROM_BOOK %}
        {% include 'literacy_events/user.html' with user=subjectUser %} 
        removed 
        {% include 'literacy_events/story.html' %} 
        from
        {% include 'literacy_events/book.html' %}
    {% elif event.event_type == LiteracyEvent.FOLLOWED %}
        {% include 'literacy_events/user.html' with user=subjectUser %} 
        started following 
        {% include 'literacy_events/user.html' with user=objectUser objectPosition=True %} 
    {% elif event.event_type == LiteracyEvent.UNFOLLOWED %}
        {% include 'literacy_events/user.html' with user=subjectUser %} 
        stopped following 
        {% include 'literacy_events/user.html' with user=objectUser objectPosition=True %} 
    {% elif event.event_type == LiteracyEvent.SIGNED_UP %}
        {% include 'literacy_events/user.html' with user=subjectUser%} 
        joined Unfold Studio
    {% elif event.event_type == LiteracyEvent.CREATED_PROMPT %}
        {% include 'literacy_events/user.html' with user=subjectUser%} 
        created
        {% include 'literacy_events/prompt.html' %}
    {% elif event.event_type == LiteracyEvent.SUBMITTED_TO_PROMPT %}
        {% include 'literacy_events/user.html' with user=subjectUser%} 
        submitted 
        {% include 'literacy_events/story.html' %}
        to
        {% include 'literacy_events/prompt.html' %}
    {% elif event.event_type == LiteracyEvent.UNSUBMITTED_FROM_PROMPT %}
        {% include 'literacy_events/user.html' with user=subjectUser%} 
        removed 
        {% include 'literacy_events/story.html' %}
        from
        {% include 'literacy_events/prompt.html' %}
    {% elif event.event_type == LiteracyEvent.STORY_READING %}
        ERROR: STORY READING SHOULD NOT BE DISPLAYED
    {% elif event.event_type == LiteracyEvent.PUBLISHED_PROMPT_AS_BOOK %}
        {% include 'literacy_events/user.html' with user=subjectUser%} 
        published 
        {% include 'literacy_events/prompt.html' %}
        as 
        {% include 'literacy_events/book.html' %}
    {% elif event.event_type == LiteracyEvent.UNPUBLISHED_PROMPT_AS_BOOK %}
        {% include 'literacy_events/user.html' with user=subjectUser%} 
        unpublished the book of submissions from 
        {% include 'literacy_events/prompt.html' %}
    {% elif event.event_type == LiteracyEvent.TAGGED_STORY_VERSION %}
        {% include 'literacy_events/user.html' with user=subjectUser%} 
        published a new version of 
        {% include 'literacy_events/story_versions.html' %}
    {% else %}
        Error displaying [{{event}}]
    {% endif %}
    {{event.timestamp|humanize}}.
{% endwith %}
{% endwith %}
</li>
