{% extends 'base/base.html' %}

{% block content %}
    {% if stories %}
        <form action="{% url 'list_stories' %}" method="get">
            {{form}}
            <input type="submit" value="Search">
        </form>
        {% if form.is_bound %}
            <h2>Search results</h2>
        {% else %}
            <h2>All stories</h2>
        {% endif %}

        <div class="description">
            Page {{stories.number}} of {{stories.paginator.num_pages}}
            {% if stories.has_previous %}
                [<a href="?page={{stories.previous_page_number}}">Previous</a>]
            {% endif %}
            {% if stories.has_next %}
                [<a href="?page={{stories.next_page_number}}">Next</a>]
            {% endif %}
        </div>
        <ul>
        {% for story in stories %}
            <li>{% include 'unfold_studio/story.html'%}</li>
        {% endfor %}
        </ul>
    {% else %}
        <h2>Sorry, no stories were found.</h2>
    {% endif %}


{% endblock %}
