{% extends 'base/base.html' %}
{% load staticfiles %}

{% block head %}

    <meta charset="utf-8">
    <title>{{story.title}} | unfold.studio</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'style/inkystyle.css' %}">

{% endblock %}

{% block content %}
<h2>{{story.title}}</h2>
<p class="description"> by {{story.author}} 
[<a href="">Again!</a>]
{% if story.author == request.user %}
    [<a href="{% url 'edit_story' story.id %}">Edit</a>]
    {% if story.shared %}
        [Public. <a href="{% url 'unshare_story' story.id %}">Unshare?</a>]
    {% else %}
        [Private. <a href="{% url 'share_story' story.id %}">Share?</a>]
    {% endif %}
{% endif %}
</p>
<div id="story"></div>

<script src="{% static 'scripts/ink.js' %}"></script>
<script>
{% autoescape off %}
    storyContent = {{story.json}};
{% endautoescape %}
</script>
<script src="{% static 'scripts/inkymain.js' %}"></script>


{% endblock %}
