{% extends 'base/base.html' %}
{% load staticfiles %}
{% load linkrefs %}

{% block head %}

    <meta charset="utf-8">
    <title>{{story.title}} | unfold.studio</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'style/inkystyle.css' %}">
    <link rel="stylesheet" href="{% static 'style/sms.css' %}">
    <link rel="stylesheet" href="{% static 'lib/inky/main.css' %}">
    <link rel="stylesheet" href="{% static 'lib/inky/inkTheme.css' %}">

{% endblock %}

{% block content %}
<h2 class="story-title">{{story.title}}</h2>
<div class="description">
{% if story.public %}
    Public story
{% else %}
    by {{story.author.username | linkuser:user}}
{% endif %}
{% if story.parent %}
    (Forked from {{story.parent.id | linkstory:user}}{% if story.parent.author %} by {{story.parent.author.username | linkuser:user}}{% endif %})
{% endif %}
{% if request.user.is_authenticated and request.user.profile in story.loves.all %}
    {% if story.loves.count > 1 %}
        <span class="love">&lt;3 {{story.loves.count}}</span>
    {% else %}
        <span class="love">&lt;3</span>
    {% endif %}
{% elif not request.user.is_authenticated and story.loves.count > 0 %}
    <span class="love">&lt;3 {{story.loves.count}}</span>
{% elif request.user == story.author and story.loves.count > 0 %}
    <span class="love">&lt;3 {{story.loves.count}}</span>
{% endif %}
{% if story.author == request.user or story.public %}
    [<a id="save_story" href="">Save</a>]
    [<a id="edit_story" href="{% url 'edit_story' story.id %}">Rename</a>]
    [<a href="{% url 'new_story_version' story.id %}">Save this version</a>]
    <span id="show_code_opt" style="display: none;">[<a id="show_code" href="#">Show code</a>]</span>
    <span id="hide_code_opt">[<a id="hide_code" href="#">Hide code</a>]</span>
{% else %}
    [<a id="replay_story" href="">Replay</a>]
    <span id="show_code_opt">[<a id="show_code" href="#">Show code</a>]</span>
    <span id="hide_code_opt" style="display: none;">[<a id="hide_code" href="#">Hide code</a>]</span>
{% endif %}
{% if request.user.is_authenticated %}
    {% if story.author == request.user %}
        {% if story.shared %}
            [Public. <form action="{% url 'unshare_story' story.id %}" method="post" class="link">{% csrf_token %}<input type="submit" value="Unshare?"></form>]
        {% else %}
            [Private. <form action="{% url 'share_story' story.id %}" method="post" class="link">{% csrf_token %}<input type="submit" value="Share?"></form>]
        {% endif %}
    {% else %}
        {% if request.user.profile not in story.loves.all %}
            {% if story.loves.count > 0 %}
                [<form action="{% url 'love_story' story.id %}" method="post" class="link"><input type="submit" value="&lt;3 (loved by {{story.loves.count}})">{% csrf_token %}</form>]
            {% else %}
                [<form action="{% url 'love_story' story.id %}" method="post" class="link"><input type="submit" value="&lt;3">{% csrf_token %}</form>]
            {% endif %}
        {% endif %}
    {% endif %}
    [<form action="{% url 'fork_story' story.id %}" method="post" class="link">{% csrf_token %}<input type="submit" value="Fork"></form>]
    {% if addableBooks %}
        [<form action="{% url 'add_story_to_book' addableBooks.0.id story.id %}" id="add-book-form" method="post" class="link">{% csrf_token %}<input type="submit" value="Add to book"></form>
         <select id="select-book" onchange="setBook(this)" autocomplete="off">
            {% for book in addableBooks %}
                <option value={{book.id}} {% if forloop.first %} selected="selected" {% endif %}>{{book.title}}</option>
            {% endfor %}
         </select>]
        <script type="text/javascript">
            function setBook(el) { 
                let form = document.getElementById('add-book-form');
                let urlParts = form.action.split('/');
                urlParts[4] = el.value;
                form.action = urlParts.join('/');
            }
        </script>
    {% endif %}
{% endif %}
{% if story.author %}
[<a href="{% url 'show_story_versions' story.id %}">History{% if commentable %}/Comment{% endif %}</a>]
{% endif %}
</div>

{# FROM INKY #}
<div id="main">
  <div class="twopane{% if not story.author == request.user and not story.public %} solo{%endif%}">
    <div id="editor"></div>
    <div class="split"></div>
    <div id="player">
      <table class="expressionWatch">
        <tbody>
        </tbody>
      </table>
      <div class="scrollContainer">
        <div class="innerText active"></div>
        <div class="hiddenBuffer">
          <div class="innerText"></div>
        </div>
      </div>
    </div>
  </div>
</div>


{# END FROM INKY #}


{# Inky imports Ace as a global, so I will follow #}
<!--<script src="{% static 'lib/ace/ace.js'%}" type="text/javascript" charset="utf-8"></script>
<script src="{% static 'lib/ace/ext-language_tools.js'%}"></script>-->

{# Main JS entry point #}
<script src="{% static 'scripts/ink.js' %}"></script>
<script>
    STORY_ID = {{story.id}};
    CSRF = "{{csrf_token}}";
    EDITABLE = {{editable}};
    LOG_READING_URL = "{% url 'log_reading_event' %}";
</script>
<script data-main="{% url 'require_entry_point' %}" src="{% static 'lib/require/require.js' %}"></script>

{% endblock %}
