{% extends 'base/base.html' %}
{% load app_filters %}
{% load linkrefs %} 

{% block content %}
    <h1>History of {{story.title}}</h1>
    <p class="description">
        By {{story.author.id | linkuser:user}}
        [<a href="{% url 'show_story' story.id %}">Current version</a>]
    </p>
    <table class="story-history">
    {% for e in history %}
    <tr>
        {% if e.content == 'version' %}
            {% with version=e.object %}
                <td>
                {{version.revision.date_created|humanize}}
                </td>
                <td>
                  <a href="{% url 'show_story_version' pk=story.id version=version.index %}">
                    Version {{version.index }}
                  </a>
                  {{version.revision.comment|linkrefs:user}}
                </td>
            {% endwith %}
        {% else %}
            {% with comment=e.object %}
                <td>
                {{comment.creation_date|humanize}}
                </td>
                <td>
                {{comment.author.id|linkuser:user}} commented:
                {{comment.message}}
                </td>
            {% endwith %}
        {% endif %}
    </tr>
    {% endfor%}
    {% if commentForm %}
        <form action="{% url 'show_story_versions' story.id %}" method="post">
            {% csrf_token %}
            {{commentForm.as_table}}
            <tr>
                <td></td>
                <td>
                    <input type="submit" value="Submit">
                </td>
            </tr>
        </form>
    {% endif %}
    </table>

{% endblock %}


